body {scroll-behavior:smooth;
    margin:0;
    background-color: darkgrey;
         }

body * { box-sizing: border-box}

.wrapper {
    max-width: 100%;
    margin: 0 auto;
}


header {
    position: fixed;
    top: 0;
    display: inline-block;
    padding: 12px;
    width: 100%;
    background-color: dimgrey;
}

.block {
    margin: 53px auto;
    width: 1024px;
    height: 1400px;
    background-color: white;
    padding: 2%;
    max-width: 100%}

#window1, #window2 {
    width: 100%;
    height: 48%;
    border: 5px inset darkgrey;
    margin-bottom: 5%;
    padding: 5%;
    }

.button {
    padding: 0.5rem 0.5rem;
    font-size: 1.0rem;
    margin-bottom: 2rem;
}

span {
    font-size: 24px;
    color: darkorange;
    font-weight: bold;
}

footer {
    bottom: 0;
    position: fixed;
    display: inline-block;
    padding: 12px;
    width: 100%;
    background-color: dimgrey;
    }

a {
    color:orange;
    text-decoration: none
}

.up, .down {
    position: absolute;
    right: 2%;
}

